<app-header></app-header>
  
  
<div class="bg-dark">
    <br>

    <div class="pt-5 container-fluid">
        <div class="row">
            <div class="col-6 ms-5 ">
                <div class="p-3 border bg-light">
                    <div class="mb-3">
                        <label for="firstname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="fname" placeholder="Enter first name"
                            onfocus="textselected()" required>
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lname" placeholder="Enter last name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control" id="tel" placeholder="Enter phone number" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">message</label>
                        <input type="text" class="form-control" id="tel" placeholder="Enter your message" required>
                    </div>
                    <div class="text-center d-flex justify-content-center">
                        <button type="button-center" class="btn btn-lg bg-dark text-white"> Submit </button>
                    </div>
                </div>

            </div>
            <div class="col-5 me-5 p-5 container bg-light border text-center d-flex justify-content-center">
                <section>
                    <h1 class="fs-1 mb-3 mx-auto"> Reach Us </h1>
                    <br> <br>
                    <article class="fs-4 mb-3 row">
                        <i class=" col-2 bi bi-geo-alt-fill"> </i>
                        <h4 class="col-10">Carz <br> Bangalore - 571512 <br> Karnataka </h4>
                    </article>
                    <article class="fs-4 mb-3 row">
                        <i class="col-2 bi bi-envelope-fill"> </i>
                        <h4 class="col-10">carz@gmail.com</h4>
                    </article>
                    <article class="fs-4 mb-3 row">
                        <i class="col-2 bi bi-telephone-fill"> </i>
                        <h4 class="col-10">+91-9876267253 <br> 08192 276362 </h4>

                    </article>
                </section>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

