<app-header></app-header>
  
<div class="bg-dark">
    <br>
    <div class=" container-fluid bg-light p-5">
        <div style="font-family: serif; font-size: 20px; text-align: justify;">
            
            The greenest greens and the bluest blues come alive at Park View. 
            An unprecedented package of everything that a traveler may demand comes together to 
            make Park View the most distinguished name among Coorg resorts. <br>
            While Coorg is famous for its dreamy landscapes, misty mornings, and lush forests, 
            Park View takes it a step forward with the most elegant cottages, a bevy of modern comforts,
            and a private waterfall. Imagine staying at the best resorts in Coorg and witness the
             magnificence of Coorg’s natural splendor every moment of every day. Park View takes 
             all the stress away by providing not only well-furnished cottages but also private space 
             to enjoy the best of Coorg. It includes decadent mountain views from private balconies in 
             the cottages, a babbling brook running throughout the property, an infinity pool with 
             unhindered views of the private roaring waterfall, and much more. <br>
            For the culinary aficionados, the multi-cuisine restaurant provides more than ample 
            satisfaction, while workaholics can take advantage of the well-equipped conference room. 
        </div>
    </div>  
</div>    

<app-footer></app-footer>