
<div class="navbar-static-bottom footer">
    <footer class="text-center text-white bg-dark">
        <div class="container">
            <br><br>
            <section class="text-center mb-5">
                <a href="" class="text-white me-4">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="bi bi-google"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="bi bi-instagram"></i>
                </a>
            </section>
          
        </div>
 
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2021 Copyright:
            <a class="text-white" href="#">www.carz.com</a>
        </div>

    </footer>

</div>


<router-outlet></router-outlet>