<div class="bg-dark">
<div class="m-5" >
    <br>
    <div class="p-5 col-8 container-fluid justify-content-center border border-dark rounded" >
        <div class="justify-content-center text-center">
        <h2 class="text-white"> Welcome to CarZ</h2>
        <br>
        <!-- <h5>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
            unknown printer took a galley of type and scrambled it to make a type specimen book.
        </h5> -->
        </div>
        <div class="row">
            <div class=" rounded-left card col-5 ms-5 m-2 p-5 container-fluid  justify-content-center">
                <h3>Existing User</h3><br><br>
                <div class="btn btn-lg bg-dark text-white ms-2" [routerLink]="['/login']">Login</div>
            </div>
            
            <div class="rounded-right card col-5 m-2 p-5 container-fluid justify-content-center">
                    <h3>New User</h3> <br><br>
                    <div class="btn btn-lg bg-dark text-white ms-2" [routerLink]="['/createacc']">Create Account</div>
            </div>
        </div>
        
    </div>
</div>
</div>

